In [ ]:
import numpy as np
a = [1,2,3]
b = [4,5,6]
hasil = a + b
print (hasil)
def add (list_a,list_b):
    result = []
    for first, second in zip (list_a,list_b):
      result.append(first+second)
    return result
print (add(a,b))

[1, 2, 3, 4, 5, 6]
[5, 7, 9]

In [ ]:
import numpy as np
nilai_siswa = np.array([85,55,40,90])
print (nilai_siswa[2])

40

In [ ]:
import numpy as np
print (np.__version__)

1.23.5

In [ ]:
print("hello world!")
print("Nama saya Wahyu")
print("Nim saya 2022071021")
if 5>2:
  print("Ngidol adalah bagian hidupku!")

hello world!
Nama saya Wahyu
Nim saya 2022071021
Ngidol adalah bagian hidupku!

In [ ]:
x = 5
y = "wahyu"
print (x)
print (y)

5
wahyu

In [ ]:
x = 4
x = "Wahyu"
print(x)

Wahyu

In [ ]:
def pertama(listku):
  return listku[0]
pertama([1,2,3])
pertama([1,2,3,4,5,6,7,8,9])

1

In [ ]:
def kedua(listku):
    return listku[1]
kedua([3,7,6,4,11])

7

In [ ]:
def terakhir(listku):
  return listku[0-1]
terakhir ([3,4,7,9])

9

In [ ]:
def terakhir(listku):
  return listku[len(listku)-1]
terakhir([3,4,7,9])

9

In [ ]:
def jumtol(listku):
  sum=0
  for item in listku:
    sum = sum+item
  return sum

jumtol ([1,2,3,4])

10

In [ ]:
def kaltol(listku):
  sum=1
  for item in listku:
    sum = sum*item
  return sum

kaltol ([1,2,3,4])

24

In [ ]:
def bagtol(listku):
  sum=1
  for item in listku:
    sum = sum/item
  return sum

kaltol ([1,2,3,4])

24

In [ ]:
def jumtol(listku):
  sum = 0
  for row in listku:
    for item in row:
      sum += item
  return sum
jumtol([[1,2,5],[3,4,7]])

22

In [ ]:
def bagtol(listku):
  sum = 1
  for row in listku:
    for item in row:
      sum = sum/item
  return sum
bagtol([[1,2,5],[3,4,7]])

0.0011904761904761904

In [ ]:
def kaltol(listku):
  sum= 1
  for row in listku:
    for item in row:
      sum= sum*item
  return sum
kaltol([[1,2,5],[3,4,7]])

840